name: CI - Build & Test
run-name: "${{ github.actor }} ha disparado CI → ${{ github.event_name }}"

on:
  # ramas que quieres vigilar y en que acciones
  push:
    branches: [main, master, develop]           
  pull_request:
    branches: [main, master]                   

# Trabajos ejecutables
jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4           

      - name: Setup Node.js
        if: success()                       
        uses: actions/setup-node@v4
        with:
          node-version: '22'                 
          cache: 'npm'                      

      - name: Instalar dependencias
        run: npm ci                          

      - name: Ejecutar tests
        run: npm test                        

      - name: Build (compilar)
        run: node index.js                   
